<hr>
<a href="/movies"><button type="button" name="button">Movies</button></a>
<a href="/movies/review"><button type="button" name="button">Reviews</button></a>
<a href="/movies/watch"><button type="button" name="button">What to Watch</button></a>

</body>
</html>
