<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/movies"><button type="button" name="button">Movies</button></a>
    <a href="/movies/review"><button type="button" name="button">Reviews</button></a>
    <a href="/movies/watch"><button type="button" name="button">What to Watch</button></a>
    <a href="/movies/new"><button type="button" name="button">Add New Movie</button></a>
    <hr>
