<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- JQuery -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>FLIX</title>
  </head>
  <body>

    <nav class="nav-wrapper indigo darken-5">
      <div class="container">
        <a href="/movies/home" class="brand-logo">FLIX</a>
        <!-- Responsible for trigger -->
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
          <i class="material-icons">menu</i>
        </a>

            <ul class="right hide-on-med-and-down">
              <li><a href="/movies/new">Create New Movie</a></li>
              <li><a href="/movies">Movies</a></li>
              <li><a href="/movies/review">Reviews</a></li>
              <li><a href="/movies/watch">What to Watch</a></li>
              <!-- <li><a href="#" class="btn-floating blue darken-5 z-depth-0"></a>
                <i class="material-icons">notifications</i>
                <li>
                  <span class="badge white-text pink new">5</span>
                </li>
              </li> -->
            </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-links">
    <li><a href="/movies/home">Homepage</a></li>
    <li><a href="/movies">Movies</a></li>
    <li><a href="/movies/review">Reviews</a></li>
    <li><a href="/movies/watch">What to Watch</a></li>
    <li><a href="/movies/new">Add New Movie</a></li>


  </ul>
