<%- include('./partials/header.ejs') %>

    <h1>Homepage</h1>
    
    <hr>
    <br>
    <a href="/movies"><button type="button" name="button">Movies</button></a>
    <a href="/movies/reviews"><button type="button" name="button">Reviews</button></a>
    <a href="/movies/watch"><button type="button" name="button">What to Watch</button></a>


<%- include('./partials/footer.ejs') %>
