<%- include('./partials/header.ejs') %>

    <h1 class='white-text' >Add a New Movie</h1>

    <form action="/movies" method="POST">
      <fieldset>
        <label for="name">Name: </label>
        <input class='white-text' type="text" name="name" placeholder="Name of Movie">
      </fieldset>

      <fieldset>
        <label for="description">Description: </label>
        <input class='white-text' type="text" name="description" placeholder="Description of Movie">
      </fieldset>

      <fieldset>
        <label for="img">Image: </label>
        <input type="img" name="img" placeholder="Enter Image Link">
      </fieldset>

      <fieldset>
        <input type="submit" name="submit" value="Submit">
      </fieldset>
    </form>




<%- include('./partials/footer.ejs') %>
